@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&family=Righteous&family=Share+Tech+Mono&family=Syne:wght@400..800&display=swap");

:root {
  --primary: #c9a84c;
  --secondary: rgba(149, 143, 143, 0.5);
}

#root {
  overflow: hidden;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.syne {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dm-mono {
  font-family: "DM Mono";
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0c0c0d;
  color: white;
  font-family: "Syne";
}

h1 {
  font-family: "Bebas Neue";
  font-size: 70px;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
  font-size: 15px;
  font-family: "Syne";
}

.boutton {
  padding: 1rem;
  border: none;
}

.classique {
  background-color: black;
  color: white;
  font-weight: bold;
  border: solid 1px var(--secondary);
}

.gold {
  background-color: var(--primary);
  font-weight: bold;
}

.title {
  color: var(--primary);
  font-weight: lighter;
  letter-spacing: 5px;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 5px;
  border-bottom: solid 1px var(--secondary);
  background-color: black;
  padding: 15px 2rem;

  #logo {
    font-size: xx-large;
    span {
      color: var(--primary);
    }
  }

  nav > ul > li > a {
    color: var(--secondary);
    font-size: small;
  }

  ul {
    display: flex;
    gap: 2rem;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

#hero {
  display: flex;
}

#left-hero-part {
  padding: 2rem 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.368);
}

#slogan-hero {
  font-size: 130px;
  display: flex;
  flex-wrap: wrap;
  line-height: 90%;
}

#your {
  -webkit-text-stroke: 1px var(--secondary);
  color: transparent;
  flex: 1 100%;
}

#legend {
  color: var(--primary);
  flex: 1 100%;
}

#buttons {
  display: flex;
  gap: 30px;
}

#stat {
  display: flex;
  justify-content: space-around;
  line-height: 30px;
  padding-top: 50px;
  border-top: solid 1px var(--secondary);
  text-align: center;
}

#title-stat {
  font-size: 50px;
}

#right-hero-part {
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

#sneakers-hero {
  width: 600px;
  object-fit: contain;
}

#bandeau {
  border: solid 1px var(--secondary);
  border-left: none;
  border-right: none;
  padding: 40px;
  background-color: black;
  margin-bottom: 50px;
  max-height: 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  transition: linear 0.1s;
}

#bandeau > .marque {
  font-size: 30px;
  padding: 0 70px;
  white-space: nowrap;
  transition: ease-in-out 0.4s;
}

#bandeau > .marque:hover {
  color: var(--primary);
  cursor: crosshair;
}

#bandeau > .plus {
  padding: 0 50px;
  white-space: nowrap;
  font-size: 20px;
}

#univers {
  padding: 2rem 4rem;
}

#cards {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#cards > .card {
  flex: 1;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  max-height: 400px;
  text-decoration: none;
  color: white;
}

#cards > .card:hover {
  color: var(--primary);
  transform: scale(1.1);

  .img-card {
    filter: brightness(1.2);
  }
}

#cards > .card > .img-card {
  width: 100%;
  height: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s;
}

#cards > .card > .text-card {
  font-size: 20px;
}

#cards > .card > .show-more {
  letter-spacing: 4px;
}

